body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER */

.caja-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caja-header img {
  width: 15%;
  padding-top: 15px;
  padding-left: 30px;
}

.caja-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  padding-top: 57px;
  padding-right: 80px;
  padding-bottom: 2px;
  text-decoration: none;
}

.caja-menu-home a {
  color: black;
  background-color: royalblue;
  transition: all 1s;
  width: 1px;
}

.caja-menu-home a:hover {
  background-color: royalblue;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  text-decoration: none;
  width: 50px;
}

.caja-menu-datos a {
  color: black;
  transition: all 3s;
}
.caja-menu-datos a:hover {
  background-color: royalblue;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  text-decoration: none;
}

.caja-menu-login a {
  color: black;
  transition: all 3s;
}
.caja-menu-login a:hover {
  background-color: royalblue;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  text-decoration: none;
}

.caja-menu-register a {
  color: black;
  transition: all 3s;
}
.caja-menu-register a:hover {
  background-color: royalblue;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  text-decoration: none;
}

/* HOME */
.sensores-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  padding-left: 270px;
  padding-top: 80px;
  margin-left: 7%;
}

.sensores-home img {
  border: 0.5px;
  border-color: gray;
  border-style: solid;
  margin-right: 4px;
  width: 40%;
}

.sensores-home img:hover {
  transform: scale(1.2);
}

/*FOOTER */

.trabaja-caja {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: royalblue;
  margin-top: 100px;
  height: 70px;
}

.cajita-trabaja-nosotros {
  width: 30%;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.caja-logos {
  width: 20%;
  margin-top: 10px;
}
.caja-logos img {
  width: 20%;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}
.col-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 120px;
  font-size: 12px;
}

.cajita-footer2 img {
  width: 12%;
  margin-left: 44%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cajita-footer3 {
  font-size: 14px;
  margin-left: 40%;
  padding-bottom: 60px;
}

/*CALENDAR */

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 150px;
}

.boton-generarPDF {
  width: 20%;
  margin-left: 80%;
}

.grafica-calendar {
  padding-left: 5px;
  align-items: center;
  margin-left: 60px;
}

/*ELEMENTOS*/

h3 {
  padding-top: 40px;
  text-align: center;
}

/*TARJETA GRASA */
.card-elemento-grasa {
  box-shadow: 4px 4px 8px 8px rgba(76, 177, 245, 0.5);
  transition: 0.3s;
  width: 250px;
  margin-bottom: 30px;
}
.card-elemento-grasa h5 {
  text-align: center;
}

.card-elemento-.card-elemento-grasa {
  box-shadow: 0 8px 16px 0 rgba(76, 177, 245, 0.5);
}

/*TARJETA LACTOSA */
.card-elemento-lactosa {
  box-shadow: 4px 4px 8px 8px rgba(235, 238, 62, 0.5);
  transition: 0.3s;
  width: 250px;
  margin-bottom: 30px;
}

.card-elemento-lactosa h5 {
  text-align: center;
}

.card-elemento-.card-elemento-lactosa {
  box-shadow: 4px 4px 8px 8px rgba(235, 238, 62, 0.5);
}

/*TARJETA PROTEINA */
.card-elemento-proteina {
  box-shadow: 4px 4px 8px 8px rgba(60, 226, 87, 0.658);
  transition: 0.3s;
  width: 250px;
  margin-bottom: 30px;
}

.card-elemento-proteina h5 {
  text-align: center;
}
.card-elemento-.card-elemento-proteina {
  box-shadow: 4px 4px 8px 8px rgba(60, 226, 87, 0.658);
}

/*TARJETA TEMPERATURA */
.card-elemento-temperatura {
  box-shadow: 4px 4px 8px 8px rgba(226, 55, 42, 0.658);
  transition: 0.3s;
  width: 250px;
  margin-bottom: 30px;
}

.card-elemento-temperatura h5 {
  text-align: center;
}
.card-elemento-.card-elemento-temperatura {
  box-shadow: 4px 4px 8px 8px rgba(226, 55, 42, 0.658);
}

.container {
  padding: 2px 16px;
}

.container-elementos-4 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}

/*LOGIN */
.bienvenido-logueate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  font-size: 20px;
}

.caja-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 150px;
  height: 550px;
}

/*REGISTER*/
.bienvenido-Aotech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  font-size: 20px;
}

.caja-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 150px;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  /* Header */

  .caja-tittle img {
    width: 80%;
    height: 20%;
  }

  .caja-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 70px;
    padding-right: 200px;
    width: 40%;
    font-size: 12px;
  }

  /* Home */

  .sensores-home img {
    width: 170%;
  }
}

@media (max-width: 375px) {
  /* Header */
  .caja-tittle img {
    width: 80%;
    height: 30%;
  }

  .caja-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 70px;
    margin-bottom: -30px;
    width: 40%;
    font-size: 12px;
  }

  /* Home */
  .sensores-home {
    display: flex;
    align-items: center;
    padding-left: 105px;
    padding-bottom: -20px;
  }

  .sensores-home img {
    width: 90px;
  }

  /*Footer */
  .cajita-trabaja-nosotros {
    width: 40%;
    font-size: 12px;
    padding-top: 1px;
    padding-left: 3px;
    margin-left: 40px;
  }

  .caja-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 1px;
    padding-right: 3px;
  }

  .cajita-trabaja-nosotros img {
    align-content: center;
  }

  .col-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
    margin-left: 30%;
  }

  .cajita-footer2 img {
    font-size: 34px;
    margin-left: 32%;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 35%;
  }

  .cajita-footer3 {
    margin-left: 32%;
  }
  /*calendar */
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group input {
    margin-bottom: 20px;
  }

  /*LOGIN */
  .bienvenido-logueate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 50px;
  }

  .caja-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /*REGISTER*/
  .bienvenido-Aotech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 50px;
  }

  .caja-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.my-carrousel {
  height: 672px;
  width: 1000px;
  object-fit: contain;
}
.logo{
   width: 50px;
  height: 50px;
  border-radius: 50%; 
}

.logo-fit-login{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
  margin-top: 75px;
  margin-bottom: 15px; 
}






/*Login Styles*/
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}
